<a href="https://colab.research.google.com/github/watcharapornn/data_viz_2022/blob/main/Basic%20Programming%20Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) = y$)

```python
def function_name(input_x):
    # do something with input_x to get output_y
    return output_y
```

$f_1(x)=x^2 + 75$

In [1]:
def function_f1(x) :
      a = x**2
      y = a + 75
      return y

print('done!')

done!

In [2]:
function_f1(3)

84

##function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราเขียนฟังก์ชั่น ชื่ออะไร def function_name( ) : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input Input (ขาดได้)
3. ส่วนประมวลผล do_something with Input to get Output (ขาดไม่ได้)
4. ส่วน output return Output(ขาดได้)

##ตัวอย่าง function มีส่วนประกอบครบ

In [3]:
def function_f1(x) :
      a = x**2
      y = a + 75
      return y

##ตัวอย่าง function ที่ ไม่มี input

In [4]:
def pi_v():
    y = 3.14159265359
    return y

In [5]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

##Function ไม่มี process ไม่ได้

In [ ]:
def function_a():

SyntaxError: ignored

##ตัวอย่าง Function ที่ไม่มี output

In [6]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [7]:
print_name_id('วัชราภรณ์','613020615-8')

ชื่อ วัชราภรณ์ รหัสประจำตัว 613020615-8

In [8]:
a = print_name_id('วัชราภรณ์','613020615-8')

ชื่อ วัชราภรณ์ รหัสประจำตัว 613020615-8

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [9]:
print('วัชราภรณ์')
print('613020615-8')

วัชราภรณ์
613020615-8

In [10]:
print('วัชราภรณ์',end='->')
print('613020615-8')

วัชราภรณ์->613020615-8

In [11]:
print('วัชราภรณ์','613020615-8',sep=' & ')

วัชราภรณ์ & 613020615-8

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [12]:
def print_grade(name,id,grade = 'F'):
      print(f'รหัสประจำตัว {id} ชื่อ {name}')
      print(f'ได้เกรด {grade}')

In [13]:
print_grade('นางสาววัชราภรณ์ บุญจวง','613020615-8')

รหัสประจำตัว 613020615-8 ชื่อ นางสาววัชราภรณ์ บุญจวง
ได้เกรด F

In [15]:
print_grade('นางสาววัชราภรณ์ บุญจวง','613020615-8','A')

รหัสประจำตัว 613020615-8 ชื่อ นางสาววัชราภรณ์ บุญจวง
ได้เกรด A

In [16]:
print_grade(id ='613020615-8',name='นางสาววัชราภรณ์ บุญจวง',grade='B+')

รหัสประจำตัว 613020615-8 ชื่อ นางสาววัชราภรณ์ บุญจวง
ได้เกรด B+

# Looping (for)

```python
for member in listEx:
    do_something()
```

In [17]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [18]:
def print_name(name):
      print(f'ฉันชื่อ {name}')

In [19]:
for name in ['วัชราภรณ์','มีโซ','มานี่ มูน','ยูกิ','นานะ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ มีโซ
ฉันชื่อ มานี่มูน
ฉันชื่อ ยูกิ
ฉันชื่อ นานะ

In [20]:
list_name_id_grade = [['น.ส. มีโซ คิม','613020611-1','A'],
                                ['น.ส. มานี่ มูน','613020612-2','B+'],
                                ['น.ส. ยูกิ','613020613-3','B']]

In [21]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('--------------------')

รหัสประจำตัว 613020611-1 ชื่อ น.ส. มีโซ คิม
ได้เกรด A
--------------------
รหัสประจำตัว 613020612-2 ชื่อ น.ส. มานี่ มูน
ได้เกรด B+
--------------------
รหัสประจำตัว 613020613-3 ชื่อ น.ส. ยูกิ
ได้เกรด B
--------------------

## ใช้ for loop เพิ่มสมาชิกใน list

In [22]:
list_name = [] # ตั้งชื่อที่เป็น list ว่างเอาไว้ก่อน
list_id = [] # ตั้งชื่อที่เป็น list ว่างเอาไว้ก่อน
list_grade = [] # ตั้งชื่อที่เป็น list ว่างเอาไว้ก่อน
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [23]:
list_name

['น.ส. มีโซ คิม', 'น.ส. มานี่ มูน', 'น.ส. ยูกิ']

### การวนลูปด้วย range()

In [25]:
for i in range(50):
    print('แมว', end = ' ')

แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว แมว

## Loop ซ้อน Loop

In [26]:
for mem1 in range(2,5): # [2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): # [1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}') #เอามาคูณกัน ให้กลายเป็นสูตรคูณแม่ 2 แม่ 3 แม่ 4
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in function

In [27]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [28]:
print_grade_loop(list_name,list_grade)

น.ส. มีโซ คิม ได้เกรด A
น.ส. มานี่ มูน ได้เกรด B+
น.ส. ยูกิ ได้เกรด B

#Conditional Statemant (if)

```python
if condition1:
  do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
  do_another_thing() ## ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
  do_the_last_thing() ## ถ้าไม่มี conditon ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [29]:
for n in list_name:
    if len(n)>10:
       print(f'{n} ได้เกรด A')
    else:
      print(f'{n} ได้เกรด F')

น.ส. มีโซ คิม ได้เกรด A
น.ส. มานี่ มูน ได้เกรด A
น.ส. ยูกิ ได้เกรด F

### operator ที่ใช้ตรวจสอบ condition

==, !=, >=, <=, <, >, and, or

In [30]:
10 == 20

False

In [31]:
b = 15 <= 20
print(b)

True

In [32]:
if a:
  print('x')

In [33]:
if True:
  print('x')

x

In [34]:
if a and b:
  print('x')

In [35]:
if a or b:
  print('x')

x

# HW4
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D   
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
    ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [36]:
score = [1,50,65,90,101,-5,49,'ก',80]

In [37]:
print(score)
print('---------------------------------------')
for s in score:
    if type(s) == type(""):
        print (f'คะแนน {s} ไม่สามารถตัดเกรดได้')
    else:
        if s >= 101:
            print (f'คะแนน {s} ไม่สามารถตัดเกรดได้')
        elif s >= 80:
            print (f'คะแนน {s} ได้เกรด A')
        elif s >= 75:
            print (f'คะแนน {s} ได้เกรด B+')
        elif s >= 70:
            print (f'คะแนน {s} ได้เกรด B')
        elif s >= 65:
            print (f'คะแนน {s} ได้เกรด C+')
        elif  s >= 60:
            print (f'คะแนน {s} ได้เกรด C')
        elif  s >= 55:
            print (f'คะแนน {s} ได้เกรด D+')
        elif  s >= 50:
            print (f'คะแนน {s} ได้เกรด D')
        elif  s >= 0:
            print (f'คะแนน {s} ได้เกรด F')
        else:
            print (f'คะแนน {s} ไม่สามารถตัดเกรดได้')
print('---------------------------------------')

[1, 50, 65, 90, 101, -5, 49, 'ก', 80]
---------------------------------------
คะแนน 1 ได้เกรด F
คะแนน 50 ได้เกรด D
คะแนน 65 ได้เกรด C+
คะแนน 90 ได้เกรด A
คะแนน 101 ไม่สามารถตัดเกรดได้
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนน 49 ได้เกรด F
คะแนน ก ไม่สามารถตัดเกรดได้
คะแนน 80 ได้เกรด A
---------------------------------------

# Conditional Statement (if)